.header {
    text-align: center;
    padding-bottom: 1rem;
}

.header-title {
    padding: 0;
    font-size: 2rem;
}

.archive {
    padding: 1rem;
    border-top: 1px solid var(--gray-700);
    border-bottom: 1px solid var(--gray-700);
}

.field {
    border-left: 1px solid var(--gray-700);
    border-right: 1px solid var(--gray-700);
    margin: .25rem 0;

    & h1 {
        text-align: center;
        display: block;
        margin: 0;
        padding: .5rem;
        font-size: 1rem;
        background-color: var(--gray-700);
    }

    & a {
        display: block;
        padding: .5rem;
        border-bottom: 1px solid var(--gray-700);
        transition: background-color 0.2s;
        &:hover, :focus {
            background-color: var(--gray-700);
        }
    }
}