---
layout: default
---

<div class="header">
    <p class="header-title">{{ site.title }}</p>
    <p class="header-description">
        📝 计算机｜数学｜英语｜历史<br/>
        📺 教学视频放在<a href="https://space.bilibili.com/491275843">「B 站」</a>、<a href="https://www.xiaohongshu.com/user/profile/5ea26d1600000000010016db">「小红书」</a><br/>
        🏷️ 考研知识点放在<a href="https://www.markji.com/profile/6359556/publish">「墨墨记忆卡」</a><br/>
    </p>
</div>

<div class="archive">
    <div class="field">
        <h1>计算机</h1>
        <a href="/os/">操作系统</a>
        <a href="/ds/">数据结构</a>
        <a href="/cn/">计算机网络</a>
        <a href="/c/">C 语言</a>
        <a href="/cpp/">C++ 语言</a>
        <a href="/db/">数据库系统</a>
        <a href="/se/">软件工程</a>
    </div>

    <div class="field">
        <h1>数学</h1>
        <a href="/la/">线性代数</a>
        <a href="/calculus/">微积分</a>
        <a href="/logic/">数理逻辑</a>
    </div>

    <div class="field">
        <h1>其他</h1>
        <a href="/note/">随记</a>
        <a href="/writing/">写作</a>
        <a href="/eng/">英语</a>
    </div>
</div>